<div id="<%= dom_id movement %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= movement.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= movement.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= movement.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= movement.typeof %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this movement", movement, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to 'Edit this movement', edit_movement_path(movement), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
