<div id="<%= dom_id movement %>" class="p-6 rounded-lg shadow-lg bg-white">
  <p class="my-5">
    <strong class="block font-medium mb-1">Date:</strong>
    <%= movement.date %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Description:</strong>
    <%= movement.description %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Value:</strong>
    <%= movement.value %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Type:</strong>
    <%= movement.typeof %>
  </p>
  
</div>
