<div id="<%= dom_id movement %>" class="p-6 rounded-lg shadow-lg bg-white flex <%= movement.debt? ? 'text-red-700' : 'text-green-700' %>">
  <span class="mr-2">
    <%= movement.date  %>
  </span>
  <span class="mr-2 flex-grow">
    <%= movement.description %>
  </span>
  <span>
    <%= number_to_currency movement.value %>
  </span>
  <span>
  
</div>
